
@media(max-width: 576px) {
  .foot-head-rd{
    margin: 0 10px;
  }
  .social-links{
    margin: 0 10px;
  }
  .footer-links{
    margin: 0 15px;
    padding: 0 5px;
  }
  .link-bt{
    font-size: 22px;
    margin: 0;
  }
  .other-links{
    margin: 0;
    font-size: 22px;
  }
  .adress-links{
    margin: 15px;
  }
}