/* Navbar.css */
.navbar .nav-link {
  color: #111;
  font-weight: 700;
  font-size: 25px;
  position: relative;
  padding: .5rem 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}
.navbar .nav-item{
  padding: 0 1rem;
}

.btn-signin {
  background-color: #6c63ff;
  color: #eeeaff;
  border-radius: 25px;
  padding: 1rem 2rem;
  font-weight: 800;
  text-decoration: none;
}

.btn-signup {
  background-color: #eeebfa;
  color: #6c63ff;
  border-radius: 25px;
  padding: 1rem 2rem;
  font-weight: 800;
  border: none;
  text-decoration: none;
}

@media(max-width : 576px) {
  .btn-signin {
    padding: .8rem 1rem;
    margin-left: 20px;
  }

  .btn-signup {
    padding: .8rem 1rem;
  }

  .navbar .nav-link {
    font-size: 20px;
  }

  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent !important;
  }

}